<h3>Cart</h3>
<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>
<div class="cart-item" *ngFor="let product of items">
    <span>{{product.name}}</span>
    <span>{{product.price | currency:'£'}}</span>
</div>

<form (ngSubmit)="ngOnSubmit()" [formGroup]="checkoutForm">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address">
    </div>
    
    <button type="submit" class="button">Purchase</button>
</form>